<div class="home">
  <div class="container">
    <section class="learn">
      <img src="assets/img/learn-sphere-1.png" alt="learn sphere 1">
      <img src="assets/img/learn-sphere-2.png" alt="learn sphere 2">
      <img src="assets/img/learn-sphere-3.png" alt="learn sphere 3">
      <div class="big-text">
        <p>
          <span >Learn.</span>
        </p>
      </div>
      <div>
        <span>learn</span>
      </div>
      <div>
        <span>everything</span>
      </div>
      <div>
        <span>you</span>
        <span>need</span>
      </div>
      <div>
        <span>about</span>
      </div>
      <div>
        <span>Angular<span class="period">.</span></span>
      </div>
      <div>
        <span>developers.</span>
      </div>

    </section>
    <section class="meet"></section>
    <section class="share"></section>
  </div>
</div>